*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: #eef5ee;
  color: #113d23;

}
header{
  background-color: rgb(136, 102, 73);
  color: #fff;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}
.logo {
    font-size: 26px;
    font-weight: bold;
}
.hero {
    background-image: url('https://plus.unsplash.com/premium_photo-1661941770505-9fe5c1c5002e?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=2070');
    background-size: cover;
    background-position: center;
    height: 800px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    top: 0;
}
.featured {
    text-align: center;
    padding: 60px 40px;
}
.featured h2 {
    margin-bottom: 30px;
}
.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.card {
    width: 300px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}
.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.card h3 {
    margin: 15px;
}
.card p {
    margin: 0 15px 15px;
}
.gallery {
    padding: 60px 40px;
    text-align: center;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 20px;
}
.grid img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.about {
    padding: 60px 40px;
    text-align: center;
}
footer {
    background: rgb(136, 102, 73);
    color: #fff;
    text-align: center;
    padding: 20px;
}
@media (max-width: 768px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
